/*!******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./app/src/styles.css ***!
  \******************************************************************************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
}

/*!**************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[2]!./node_modules/@atrilabs/design-system/lib/stylesheets/form-field.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************/
.form-field_formfield__MkJga {
  border: none;
}
.form-field_formfield__MkJga:active {
  outline: #fcd34d solid 1px;
}
.form-field_formfield__MkJga:focus-visible {
  outline: #fcd34d solid 1px;
}

/*!**********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[2]!./node_modules/@atrilabs/design-system/lib/stylesheets/button.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************/
.button_danger__gr6NE {
  background-color: #be185d;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #fdf2f8;
  padding: 0.5rem 1rem;
  border: none;
}

.button_cancel__SU3y5 {
  background-color: #6b7280;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #e5e7eb;
  padding: 0.5rem 1rem;
  border: none;
}

/*!*************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./node_modules/@atrilabs/react-component-manifests/src/manifests/styles.css ***!
  \*************************************************************************************************************************************************************************************************************************************************/

/*!*************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./app/src/page-css/Home.css ***!
  \*************************************************************************************************************************************************************************************************/
.p-Home.Flex8 {
display: flex;
align-self: auto;
justify-content: center;
padding-top: 40px;
padding-bottom: 40px;
}
.p-Home.Flex2 {
display: flex;
justify-content: space-between;
padding-left: 0px;
padding-right: 0px;
width: 80%;
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-Home.Flex3 {
display: flex;
justify-content: flex-start;
}
.p-Home.Flex4 {
display: flex;
justify-content: flex-start;
-moz-column-gap: 37px;
     column-gap: 37px;
font-size: 17px;
padding-top: 7px;
}
.p-Home.Flex6 {
display: flex;
-moz-column-gap: 8px;
     column-gap: 8px;
}
.p-Home.Flex12 {
display: flex;
justify-content: center;
align-items: center;
}
.p-Home.Flex9 {
display: flex;
width: 80%;
justify-content: space-between;
align-items: stretch;
flex-direction: row;
padding-top: 50px;
padding-bottom: 20px;
}
.p-Home.Flex10 {
display: flex;
flex-direction: column;
padding-top: 15px;
}
.p-Home.Flex13 {
display: flex;
justify-content: space-between;
width: 44%;
}
.p-Home.Flex14 {
display: flex;
align-items: center;
justify-content: flex-start;
row-gap: ;
-moz-column-gap: 8px;
     column-gap: 8px;
}
.p-Home.Flex11 {
display: flex;
justify-content: flex-end;
width: ;
}
.p-Home.Flex15 {
display: flex;
justify-content: center;
}
.p-Home.Flex16 {
display: flex;
width: 80%;
justify-content: center;
padding-top: 80px;
padding-bottom: 80px;
flex-direction: column;
align-items: center;
}
.p-Home.Flex17 {
display: flex;
flex-direction: row;
width: 70%;
justify-content: space-between;
padding-top: 40px;
align-items: center;
}
.p-Home.Flex18 {
display: flex;
}
.p-Home.Flex19 {
display: flex;
}
.p-Home.Flex20 {
display: flex;
}
.p-Home.Flex21 {
display: flex;
justify-content: flex-start;
}
.p-Home.Flex23 {
display: flex;
justify-content: center;
}
.p-Home.Flex24 {
display: flex;
width: 74%;
justify-content: center;
flex-direction: column;
align-items: center;
padding-top: 80px;
padding-bottom: 80px;
}
.p-Home.Flex26 {
display: flex;
width: 100%;
justify-content: space-between;
}
.p-Home.Flex27 {
display: flex;
flex-direction: column;
width: 29%;
}
.p-Home.Flex30 {
display: flex;
align-items: center;
margin-bottom: 10px;
}
.p-Home.Flex31 {
display: flex;
align-items: center;
margin-bottom: 12px;
}
.p-Home.Flex32 {
display: flex;
align-items: center;
margin-bottom: 12px;
}
.p-Home.Flex28 {
display: flex;
width: 29%;
flex-direction: column;
}
.p-Home.Flex33 {
display: flex;
align-items: center;
margin-bottom: 12px;
}
.p-Home.Flex34 {
display: flex;
align-items: center;
margin-bottom: 12px;
}
.p-Home.Flex35 {
display: flex;
align-items: center;
margin-bottom: 10px;
}
.p-Home.Flex29 {
display: flex;
width: 29%;
flex-direction: column;
}
.p-Home.Flex36 {
display: flex;
align-items: center;
margin-bottom: 12px;
}
.p-Home.Flex37 {
display: flex;
align-items: center;
margin-bottom: 12px;
}
.p-Home.Flex38 {
display: flex;
align-items: center;
margin-bottom: 10px;
}
.p-Home.TextBox1 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 27px;
}
.p-Home.TextBox7 {
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.TextBox6 {
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.TextBox5 {
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.TextBox2 {
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.TextBox10 {
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.TextBox11 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 70px;
padding-top: 28px;
margin-top: ;
word-wrap: normal;
color: #000000d1;
}
.p-Home.TextBox14 {
font-family: IBM Plex Sans;
font-size: 21px;
padding-top: 20px;
padding-bottom: 40px;
width: 77%;
font-weight: 300;
color: #7f7d7d;
}
.p-Home.Button1 {
color: #fff;
background-color: #1890ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
-webkit-user-select: none;
   -moz-user-select: none;
        user-select: none;
width: 148px;
height: 56px;
font-family: IBM Plex Sans;
}
.p-Home.TextBox16 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 18px;
}
.p-Home.Image1 {
position: static;
width: 100%;
}
.p-Home.TextBox17 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 16px;
align-self: center;
}
.p-Home.Image2 {
width: 100%;
height: 16px;
}
.p-Home.Image3 {
width: 100%;
height: 29px;
}
.p-Home.Image4 {
width: 100%;
height: 29px;
}
.p-Home.Image5 {
width: 100%;
height: 29px;
}
.p-Home.TextBox18 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 22px;
overflow: auto;
}
.p-Home.TextBox19 {
margin-top: 20px;
padding-bottom: 110px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 50px;
align-self: center;
width: 75%;
text-align: center;
}
.p-Home.TextBox20 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 24px;
padding-top: ;
padding-bottom: ;
margin-top: 40px;
margin-bottom: 20px;
}
.p-Home.TextBox21 {
color: #7f7d7d;
font-family: IBM Plex Sans;
font-weight: 300;
width: 92%;
padding-bottom: ;
margin-bottom: 25px;
font-size: 18px;
}
.p-Home.Image10 {
width: 18%;
}
.p-Home.TextBox28 {
font-family: IBM Plex Sans;
font-weight: 600;
margin-bottom: ;
margin-left: 10px;
font-size: 17px;
}
.p-Home.Image24 {
width: 3%;
height: ;
}
.p-Home.TextBox27 {
font-family: IBM Plex Sans;
font-weight: 600;
margin-bottom: ;
margin-left: 10px;
font-size: 17px;
}
.p-Home.Image23 {
width: 3%;
height: ;
}
.p-Home.TextBox26 {
font-family: IBM Plex Sans;
font-weight: 600;
margin-bottom: ;
margin-left: 10px;
font-size: 17px;
}
.p-Home.Image13 {
width: 3%;
height: ;
}
.p-Home.TextBox22 {
color: #7f7d7d;
font-family: IBM Plex Sans;
font-weight: 300;
padding-top: ;
margin-bottom: 25px;
font-size: 18px;
}
.p-Home.TextBox23 {
font-size: 24px;
font-family: IBM Plex Sans;
font-weight: 600;
margin-top: 40px;
margin-bottom: 20px;
line-height: ;
}
.p-Home.Image8 {
border-radius: ;
width: 18%;
}
.p-Home.TextBox29 {
font-family: IBM Plex Sans;
font-weight: 600;
margin-left: 10px;
font-size: 17px;
}
.p-Home.Image25 {
width: 3%;
height: ;
}
.p-Home.TextBox30 {
font-family: IBM Plex Sans;
font-weight: 600;
margin-left: 10px;
font-size: 17px;
}
.p-Home.Image26 {
width: 3%;
height: ;
}
.p-Home.TextBox31 {
font-family: IBM Plex Sans;
font-weight: 600;
margin-left: 10px;
font-size: 17px;
}
.p-Home.Image27 {
width: 3%;
height: ;
}
.p-Home.Image9 {
width: 23%;
padding-bottom: ;
}
.p-Home.TextBox24 {
font-size: 24px;
font-family: IBM Plex Sans;
font-weight: 600;
margin-top: 43px;
margin-bottom: 20px;
}
.p-Home.TextBox25 {
color: #7f7d7d;
font-family: IBM Plex Sans;
font-weight: 300;
margin-bottom: 25px;
font-size: 18px;
}
.p-Home.TextBox32 {
font-family: IBM Plex Sans;
font-weight: 600;
margin-left: 10px;
font-size: 17px;
}
.p-Home.Image28 {
width: 3%;
height: ;
}
.p-Home.TextBox33 {
font-family: IBM Plex Sans;
font-weight: 600;
margin-left: 10px;
font-size: 17px;
}
.p-Home.Image30 {
width: 3%;
height: ;
}
.p-Home.TextBox34 {
font-family: IBM Plex Sans;
font-weight: 600;
margin-left: 10px;
font-size: 17px;
}
.p-Home.Image31 {
width: 3%;
height: ;
}

